
@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Light'), url('cleanvertising-light.woff2') format('woff2'), url('cleanvertising-light.woff') format('woff'), url('cleanvertising-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Black'), url('cleanvertising-black.woff2') format('woff2'), url('cleanvertising-black.woff') format('woff'), url('cleanvertising-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


.select-to{
    background-image: url(../img/coming.png);
    background-position: 215px 35px;
    background-repeat: no-repeat;
}

.select-from{
    background-image: url(../img/boat_.png);
    background-position: 205px 37px;
    background-repeat: no-repeat;
}


/* --- try ---*/

ul.from_to-list{
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 10px;
    float: left;
    text-align: left;
    color: #969696;
    cursor: pointer;
}

.from_to-list li{
    display: list-item;
    height: 150px;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #cdcdcd;
    visibility: hidden;
}

.from_to-list li:hover{
    background-color: #f3f3f3;

}

.from_to-list li.default{
    display: list-item;
    height: 150px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0;
    visibility: visible;

}

.list-header{
    display: block;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 10px;

    font-family: "CleanvertisingBlack";
    font-size: 23px;
    line-height: 27px;

}

.list-small-text{
    font-family: "CleanvertisingLight";
    font-size: 19px;
    line-height: 25px;
    padding-left: 50px;
    bottom: 0;
    margin-bottom: 0;
    }

ul.opened{
    z-index: 1000;
}


.opened li{
    visibility: visible;
}
.opened li:first-child{
    border-radius: 7px 7px 0 0;
    background-color: #f3f3f3;
}
.opened li:last-child{
    border-radius: 0 0 7px 7px;
}

.from_to-list li.selected{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 150px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0;
    visibility: visible;
}








.content_center{
	display: flex;
}



.block-news{
padding-top: 2em;
padding-bottom: 2ex;
color: #ffffff;

}



.block-news__header{
    font-size: 32px;
    display: inline-block;
    width: 100%;
    color: #51c2f5;
    line-height: 37px;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-left: 45px;
    margin-bottom: 30px;
}

.block-news__elements{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    flex-direction: row;
    overflow: hidden;

}

.block-news__element{
    width: 30%;
    max-width: 475px;
    border: 1px solid #c3c4c5;
    border-radius: 10px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    min-height: 350px;
    color: #cdcdcd;


}

@media screen and (max-width: 819px) {

    .block-news__elements{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

    }

    .block-news__element{
        width: 70%;
        max-width: 475px;
        border: 1px solid #c3c4c5;
        border-radius: 10px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        min-height: 350px;
        color: #cdcdcd;


    }

}




.block-news__element:hover{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(150,147,147,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(150,147,147,1);
    box-shadow: 0px 0px 15px 0px rgba(150,147,147,1);
}

.news-element_header{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    font-family: "CleanvertisingLight";
    border-bottom: 0.5px solid #cdcdcd;

}
.news-header__text{
    color: #51c2f5;
    margin-right: 30px;
    font-family: "CleanvertisingLight";
    float: right;
    line-height: 35px;
    font-size: 18px;
}

.icon-img{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin: 0;
    color: #ffffff;
}

.calendar{
    background-image: url(../img/blue_calendar.png);
}

.map-marker{
    background-image: url(../img/map-marker.png);
}
.envelope{
    background-image: url(../img/envelope.png);
}
.telephone{
    background-image: url(../img/telephone.png);
}

.news-header__text i{
    color: #51c2f5;
    float: right;
    line-height: 35px;
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;
}



.news-element_body{
    display: block;
    width: auto;
    padding: 15px 25px;
    margin: 0;
}

.news-element__title{
    margin-top: 10px;
    font-size: 25px;
    font-family: "CleanvertisingBlack";
    font-weight: bold;
    color: #949393;
    line-height: 28px;
}

.news-element__text{
    margin-top: 10px;
    font-family: "CleanvertisingLight";
    font-size: 18px;
    color: #949393;
    line-height: 36px;
}

.block-news__waves{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    vertical-align: bottom;
    margin: 0;
    margin-top: 25px;

}

.block-news__waves img{
    width: 100%;
}

.agan-footer-block{
    background-color: #ffffff;
    color: #ffffff;
    padding: 0;
    position: relative;
}

.agan-footer{

   /* background-image: url(../img/footer_background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
    background: linear-gradient(to top, #3987aa, #51c2f5);
    height: auto;
    padding: 20px 40px 30px;
    margin: 0;
    color: #ffffff;
    position: relative;

}

.left-side{
    width: 43%;
    display: inline-block;
    float: left;
}

.footer-logo{
    display: inline-block;
    width: 100%;
    line-height: 100px;
    float: left;
    vertical-align: middle;
    margin-bottom: 15px;
}

.footer-logo img{
    width: 140px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.footer-logo p {
    height: auto;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff;
    line-height: 36px;
    font-size: 28px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold
}

.footer-about_text{
    display: inline-block;
    width: 100%;
    line-height: 30px;
    font-size: 22px;
    color: #ffffff;
    font-family: "CleanvertisingLight";
    margin-bottom: 25px;
    padding-left: 15px;
}

.right-side{
    width: 43%;
    display: inline-block;
    float: right;
    padding-right: 30px;
}

.right-side i{
    margin-right: 20px;
}

.footer-contact_title{
    vertical-align: middle;
    display: inline-block;
    line-height: 36px;
    font-size: 28px;
    width: 100%;
    color: #ffffff;
    margin-top: 28px;
    margin-bottom: 48px;
    padding-left: 15px;
}

.contact-left{
    display: inline-block;
    float: left;
    margin-top: 6px;
}

.contact-right{
    display: inline-block;
    float: right;
    width: 85%;
    padding-left: 0;
    padding-right: 8px;

}

.contact{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
}
